ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li {
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid var(--corSecundaria);
    color: var(--corSecundaria);
}

.imc {
    background-color: var(--corSecundaria);
    border-color: var(--corSecundaria);
    color: var(--corTerciaria);
}
